/* ======================================== Generals ======================================== */
:root {
    --lightgray: #EFEFEF;
    --blue: steelblue;
    --white: #FFF;
    --black: rgb(0 0 0 / 0.8);
    --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
.item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

body {
    font: 16px/1.5 sans-serif;
    padding: 10px;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: inherit;

}

/* ======================================== Container ======================================== */
.container {
    width: 80%;
    min-height: 100vh;
    border-color: #EE5E5F #BA0C0E #D40E10 #F8898A;
    border-style: solid;
    border-width: 15px;
    border-radius: 3px;

    /* ======================================== Item ======================================== */
    .item {
        width: 100%;
        position: relative;
        background-color: #EC0E0E;

        /* ======================================== Button ======================================== */
        .buttons {
            position: absolute;
            top: 4%;
            left: 8%;

            .open-modal {
                font-weight: bold;
                background-color: #DDD;
                padding: 0.75rem 1rem;
                border-radius: 5px;
                transition: 250ms ease;

                &:hover {
                    background-color: #000;
                    color: #DDD;
                }
            }
        }

        /* ======================================== Modal ======================================== */
        .modal {
            position: fixed;
            inset: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            background-color: var(--black);
            cursor: pointer;
            visibility: hidden;
            opacity: 0;
            transition: all 0.35s ease-in;

            .modal-dialog {
                width: 350px;
                border-radius: 5px;
                background-color: var(--white);
                cursor: default;
                
                .modal-header {
                    position: relative; 
                    height: 20px;

                    .modal-close {
                        width: 30px;
                        font-size: 1.3rem;
                        position: absolute;
                        left: 92%;
                        top: 3%;

                        &:hover {
                            border: 1px solid transparent;
                        }

                    }
                }

                .modal-content {
                    text-align: center;

                    p {
                        font-size: 1rem;
                    }

                    .value {
                        outline-color: #0F0;
                        margin-left: 10px;

                        &:invalid {
                            border: 3px solid #F00;
                            outline-color: #F00;
                        }
                    }
                }
            }

            .modal-dialog>* {
                padding: 0.7rem;
            }
        }

        .modal.is-visible {
            visibility: visible;
            opacity: 1;
        }

        /* ======================================== Grid ======================================== */
        .grid {
            display: flex;
            flex-wrap: wrap;
            width: 70%;
            min-height: 70vh;
            background-color: #FFF;
            border-color: #BB0B12 #EC2D2F #F79A97 #BD0912;
            border-style: solid;
            border-width: 15px;

            .grid-item {
                flex: auto;
                border-radius: 10px;
            }
        }
    }
}